spring:
  application:
    name: right-dose
  profiles:
    active: local

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate.ddl-auto: update # create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        show_sql: false